* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
	font-family: Roboto, helvetica, sans-serif;
    margin: 1rem;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

.banner {
	border: 1px solid #222;
	padding: 1rem;
	background-color: #e3f4f7;
	font-weight: 700;
	word-break: break-word;
	text-align: center;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 24px;
   
}

main h2 {
    grid-column: 1 / 3;
    color: navy;
	text-align: left; 
}

h3 {
	margin-bottom: 0.5rem;
}

section {
	padding: 1rem;
}

article p {
	text-align: justify;
}

.callout {
    grid-column: 1 / 3;
    background-color: #081e2c;
    padding: 15px;
    color: #ffffff;
    
}


footer {
	margin-top: 1rem;
	border-top: 1px solid rgb(0 0 0 / 0.1);
	padding: 0.5rem 0;
	font-size: smaller;
}
