/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

main {
  padding: 2rem;
}


img {
  display: block;
  margin: 2rem auto;
  width: 400px;
  height: 600px;
  object-fit: cover;
  opacity: 0;
  animation: fadeIn 1s forwards; 
}


@keyframes fadeIn {
  from {
    opacity: 0;
    filter: brightness(0%);
  }
  to {
    opacity: 1;
    filter: brightness(100%);
  }
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #222;
  color: #fff;
}

.lastmodified {
  margin-top: 5px;
}