
body {
    display: grid;
    /* grid-template: auto 1fr auto / auto 1fr auto; */
    font-family: Arial, Helvetica, sans-serif;
}
header {
    grid-column: 1 / 5;
    background: #515252;
    color: #ffffff;
    padding: 20px 0 0 0;
}

.header p {
   padding: 1px  0 20px 15px;
}

.nav {
    display: flex;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    background: #000;
    list-style: none;
    padding: 15px 0 0 0;
    margin: 0; 
    display: flex;
    justify-content: space-around;
    text-align: center;
   
}


nav a {
    color: white;
    text-decoration: none;
    padding: 12px 0;
    display: flex;
    text-align:  space-between;
}

.main {
    background: #d4d4d4;
    grid-column: 1 / 4;
    padding: 10px 0 0 15px;
     min-height: 250px;
}

.aside {
    grid-column: 4 / 5;
    background: #fff;
    padding: 10px 0 0 15px;
    min-height: 250px;
}


.footer {
    display: grid;
    clear: both;
    background: #3b3b3b;
    color: white;
    text-align: center;
    grid-column: 1 / 5;
    padding-bottom: 100px;
  
}