/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Base styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    color: #222;
}

/* Header */
header {
    display: block;
    background-color: #1f4e79;
    color: white;
    text-align: center;

}

#course-title {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 20px;
    
}

/* Navigation (Flexbox) */
nav {
    display: flex;
    background-color: #333;
    margin: 0 auto;
    padding-bottom: 24px 0 24px 0;  
     
} 

nav ul {
    list-style-type: none;
         
}

nav a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #1f4e79;
    border-radius: 4px;

}

/* Main layout */
main {
    max-width: 1200px;
    margin: 1px auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
}

main h1 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 1rem;
}

/* Cards */
.card {
    background-color: white;
    padding: 1.25rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card h3 {
    background-color: #1f4e79;
    color: white;
    padding: 0.5rem;
    margin: -1.25rem -1.25rem 1rem;
    border-radius: 6px 6px 0 0;
    text-align: center;
}

/* About content */
.about-content {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    
}

.about-content img {
    width: 150px;
    height: auto;
    border-radius: 4px;
    border: 2px solid #ccc;
    box-shadow: 0 0 30px gray;
    
    
}

/* Location section */
.location-content {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}

.location-content img {
    width: 120px;
    border: 1px solid #ccc;
}

.location-content p {
    text-align: start;
    
    
    
}
.country-name  {
    font-weight: 600;
    font-size: 1.1rem;
    padding-left:150px;
    border-bottom: 1px solid gray;  
}

/* .flag-img {
  display: block;
  width: 250px;   
  margin: auto;
} 

.flag-caption {
  text-align: left;
  margin-top: 6px;
  font-size: 0.9rem;
  color: #555;
  font-style: italic;
} */

.flag {
  text-align: center;
  margin: 20px auto;
}

.flag img {
  width: 150px; /* adjust as needed */
}

.flag figcaption {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #555;
  font-style: italic;
  
}


/* Resource list */
.card ul {
   padding: 100px 0 0 20px;
    
   
    
}
.card li {
    margin: 0.5rem 0;
}

.card a {
    color: #1f4e79;
    font-weight: 500;
}

footer {
    background-color: #1f4e79;
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.9rem;
}
#lastModified {
    font-size: 0.8rem;
    color: #84ec96;
}