:root {
    --primary-color: #084C61;
    --secondary-color: #242424;
    --font-color: #333;
    --background-color: #f1f1f1;
    --nav-bg: var(--secondary-color);
    --header-span-color: var(--primary-color);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--font-color);
    padding: 20px;
}

h1, h2, h3 {
    margin-bottom: 15px;
    color: #444;
}

/* Layout Width */
header, main, footer {
    max-width: 980px;
    margin: 0 auto;
}

/* Header */
header {
    background-color: var(--header-span-color);
    color: white;
    text-align: center;
}

#course-title {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 20px;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    background-color: var(--nav-bg);
    padding: 24px 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    color: white;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    background-color: orange;
}

/* Main */
main {
    background-color: white;
    padding: 2rem;
}

main h1 {
    text-align: center;
    margin-bottom: 2rem;
}

/* Profile Image */
.profile_picture {
    width: 200px;
    border: 2px solid #777;
    background-color: var(--secondary-color);
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 768px) {
    .cards {
        grid-template-columns: 2fr 1fr;
    }
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.card h2 {
    background-color: #1f4e79;
    color: white;
    padding: 0.75rem;
    text-align: center;
}

.card h3 {
    margin-left: 10px;
}

.card-content {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

/* Location */
.location {
    display: flex;
    gap: 0.6rem;
    padding: 0.7rem;
}

.location img {
    width: 160px;
}

/* Location Content */
.location-content {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.location-content img {
    width: 120px;
}

/* Resources */
.card ul {
    padding: 1.5rem;
}

.card li {
    margin-bottom: 0.5rem;
}

.card a {
    color: #1f4e79;
}

/* Footer */
footer {
    background-color: #1f4e79;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
