:root {
    --primary-color: #084C61;
    --secondary-color: #242424;
    --font-color: #333;
    --background-color: #f1f1f1;
    --nav-bg: var(--secondary-color);
    --header-span-color: var(--primary-color);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}
h1, h2, h3 {
    margin-bottom: 15px;
    color: #444;
}

header {
    background-color: var(--header-span-color);
    color: white;
    text-align: center;
}

#course-title {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 20px;
    
}

/* Navigation (Flexbox) */
nav {
    display: flex;
    background-color: #333;
    
     margin: 0 auto;
    padding-bottom: 24px 0 24px 0;  
     
} 

nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	background-color: orange;
}

.active {
	color: orange;
}

@media (min-width: 640px) {
	nav ul {
		display: flex;
	}

	nav ul li {
		flex: 1 0 auto; 
}
}

header, main, footer {
    width: 980px;
    margin: 0 auto;
}

main{
    background-color: #ffffff;
    padding: 2rem;
    font-family: 'Roboto', Helvetica, sans-serif;
}

main h1 {
    text-align: center;
    margin-bottom: 2rem;
}
 .profile_picture {
    width: 200px;
    border: 2px solid #777;
    background-color: #242424;
    margin-left: 0.7rem;
    margin-right: 1rem;
 }

/* Cards */
.cards {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.card h2 {
    background-color: #1f4e79;
    color: white;
    padding: 0.75rem;
    text-align: center;
}

.card-content {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.card-content img {
    width: 120px;
    border-radius: 4px;
}

.card h3 {
    text-align: center;
    margin-top: 1rem;
}

.location {
    display: flex;
    gap: 0.6rem;
    padding: 0.7rem;
}

.location img {
    width: 160px;
    align-self: center;
}

/* Resources */
.card ul {
    list-style: disc;
    padding: 1.5rem;
    margin-left: 1rem;
}

.card li {
    margin-bottom: 0.5rem;
}

.card a {
    color: #1f4e79;
}

footer {
    background-color: #1f4e79;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}