/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0 auto;
}

header, main, footer {
     max-width: 980px;
     margin: 0 auto;
}

/* Header */
header {
    background-color: #06172c;
    color: #fff;
    padding: 1.5rem;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
}

/* Hamburger Button */
#hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

/* Hide nav menu by default (mobile) */
nav {
    display: none;
}

nav.open {
    display: block;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    margin-top: 1rem;
    font-family: 'Roboto', Helvetica, sans-serif;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover { 
    color:#d2691e;
    
    
}

/* Main */
main {
    max-width: 980px;
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
}

h1 {
    margin-bottom: 1rem;
}

.temple-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure {
    border: 1px solid #ddd;
    padding: 0.5rem;
}

figure img {
    width: 100%;
    height: auto;
}

figcaption {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: #242424;
}

/* Footer */
footer {
    background-color: #06172c;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
    font-family: 'Roboto', Helvetica, sans-serif;
   
}
