body {
    font-family:  "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0/0.2);
    padding: 10px;
    background-color: rgb(113, 196, 235);

}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}